<%= form_with model: record do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% record.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_area :author %><br>
    <% record.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :published_at %><br>
    <%= form.date_field :published_at %><br>
    <% record.errors.full_messages_for(:published_at).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>